.profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

@media (max-width: 618px) {
  .profile {
    flex-direction: column;
    margin-bottom: 36px;
  }
}
