.button_type_like-active {
  background-image: url(../../../../images/button__like_active.svg);
  background-color: #fff;
  width: 23px;
  height: 20px;
}

.button_type_like-active:hover{
  opacity: 0.5;
}
