.button_type_submit {
  width: 100%;
  min-height: 50px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 2px;
 }

@media (max-width: 618px) {
  .button_type_submit {
    min-height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}

.button_type_submit:hover {
  opacity: .8;
}
