.button__add {
  background-image: url(../../../images/Vector.svg);
  width: 150px;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 2px;
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  cursor: pointer;
  padding: 0;
}

@media (max-width: 618px) {
  .button__add {
    max-width: 282px;
    width: 100%;
  }
}
