@import "../vendor/normalize.css";
@import "../vendor/fonts.css";
@import "../blocks/page/page.css";
@import "../blocks/page/__section/page__section.css";
@import "../blocks/header/header.css";
@import "../blocks/header/__logo/header__logo.css";
@import "../blocks/button/button.css";
@import "../blocks/button/_type/button_type_edit.css";
@import "../blocks/button/_type/button_type_close.css";
@import "../blocks/button/_type/button_type_trash.css";
@import "../blocks/profile/profile.css";
@import "../blocks/profile/__img/profile__img.css";
@import "../blocks/profile/__info/profile__info.css";
@import "../blocks/profile/__add-btn/profile__add-btn.css";
@import "../blocks/profile/__edit-wrapper/profile__edit-wrapper.css";
@import "../blocks/profile/__name/profile__name.css";
@import "../blocks/profile/__description/profile__description.css";
@import "../blocks/elements/elements.css";
@import "../blocks/elements/__list/elements__list.css";
@import "../blocks/elements/__card/elements__card.css";
@import "../blocks/elements/__card-image/elements__card-image.css";
@import "../blocks/elements/__card-caption/elements__card-caption.css";
@import "../blocks/elements/__card-title/elements__card-title.css";
@import "../blocks/elements/__card-button/elements__card-button.css";
@import "../blocks/elements/__card-button/_active/elements__card-button_active.css";
@import "../blocks/footer/footer.css";
@import "../blocks/footer/__copyright/footer__copyright.css";
@import "../blocks/popup/popup.css";
@import "../blocks/popup/_opened/popup_opened.css";
@import "../blocks/popup/__container/popup__container.css";
@import "../blocks/popup/_type/popup_type_img.css";
@import "../blocks/imgPopup/imgPopup.css";
@import "../blocks/imgPopup/__image/imgPopup__image.css";
@import "../blocks/imgPopup/__caption/imgPopup__caption.css";
@import "../blocks/form/__set/form__set.css";
@import "../blocks/form/__field/form__field.css";
@import "../blocks/form/__title/form__title.css";
@import "../blocks/form/__input/form__input.css";
@import "../blocks/form/__input/_type/form__input_type_error.css";
@import "../blocks/form/__input-error/form__input-error.css";
@import "../blocks/form/__input-error/_active/form__input-error_active.css";
@import "../blocks/form/__submit/form__submit.css";
@import "../blocks/form/__submit/_inactive/form__submit_inactive.css";
