.elements__card-button {
  display: block;
  background-image: url(../../../images/button__like.svg);
  background-color: #fff;
  width: 22px;
  height: 19px;
  margin-bottom: 3px;
}

.elements__card-button:hover{
  opacity: 0.5;
}
