.button_type_edit {
  background-image: url(../../../images/btn-edit2.svg);
  margin-left: 18px;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

@media (max-width: 618px) {
  .button_type_edit {
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-right: 19px;
  }
}
