.elements__card-button {
    background-image: url(../../../images/button__like.svg);
    background-color: #fff;
    width: 23px;
    height: 20px;
  }
  
  .elements__card-button:hover{
    opacity: 0.5;
  }